*{
    margin: 0px;
    padding: 0px;
    
}
.ad-cont{
    position: relative;
    top: 10vh;
    width: 70vw;
    max-width: 100vw;
    height: 80vh;
    max-height: auto;
    padding: 0px;
    overflow: hidden;
    border: solid 4px black;
    border-radius: 30px;
    display:grid;
   
    
    
}
.ad-row{
    width: 100%;
    height: 100%;
}
.col1  img {
    width:100%;
    height:100%;
    object-fit:cover;
    padding: 0;

}
.col2{
    
    background-color: aqua;
    padding: 0;
    position: relative;
    text-align: center;
    max-height: 100%;
    width: 100%;
    font-weight: bolder;
    object-fit: cover;
}
.col2 h1{
    position: relative;
    text-align: center;
    top: 50px;
    font-weight: bolder;
}
.ad-email{
    position: relative;
    top: 130px;
    height: 10%;
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    font-size: large;
    font-weight: 500;
    outline: none;
    border: none;
}
.ad-password{
    position: relative;
    top: 150px;
    height: 60px;
    width: 355px;
    padding: 10px;
    border-radius: 30px;
    font-size: large;
    font-weight: 500;
    outline: none;
    border: none;
}
.ad-button{
    background-color: blue;
    position: relative;
    top: 200px;
    height: 60px;
    width: 355px;
    padding: 10px;
    border-radius: 30px;
    font-size: x-large;
    font-weight: 800;
    letter-spacing: 2px;
    outline: none;
    border: none;

}
.col2 p{
    position: relative;
    top: 250px;
}
.col2 p a{
    color: rgb(3, 3, 105);
}