.cat-nav{
    height:50%;
    background-color:rgb(117, 161, 147);
}

.cat-button{
    background-color:rgb(117, 161, 147);
    color: black;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 8px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: .5s ;
    border:2px solid;
    margin: 10px;
}
.cat-button:hover{
    background-color: rgb(58, 97, 84);
    color: white;
}
.cat-button:active{
    background-color: rgb(65, 118, 100);
    color: white;
}


.search-col{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.se-box{
    margin: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color:rgb(117, 161, 147);
    border: 2px solid black;

}
.search-box{
    margin: 2px;
    background-color:rgb(117, 161, 147);
    padding: 8px;
    border-radius: 50px;
    border: none;
    outline: none;
}
.search-box:hover{
    background-color:rgb(117, 161, 147);
    border: none;
}
.search-button{
    width: 50px;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    background-color:rgb(117, 161, 147);
    border: none;
    
}
