.view{
    background-color: #4f7c82;
}
.viewbook{
    box-shadow: #00000029 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
   
}
.cardbook{
  background-color: #4f7c82;
}
.bookimage-side{
  position: sticky;
  top: 0;
  z-index: 10;
}

.borrow{
  background-color: #4f7c82;
    color: black;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 50px;
    
    text-decoration: none;
    transition: 1s ;
    border:2px solid
}
.borrow:hover{
  background-color:white;
  color: black;
}

.review-section {
  max-height: 300px; 
  overflow-y: auto;
  scrollbar-width: none;
}


.review-section::-webkit-scrollbar {
    display: none;
  }
.btn-review{
  background-color: #4f7c82;
  color: black;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 50px;
  
  text-decoration: none;
  transition: 1s ;
  border:2px solid
} 
.btn-review:hover{
  background-color:white;
    color: black;
}
