*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****home****/

.home{
    background-color: rgb(119, 177, 158);
   
}
.home h1{
    font-weight: 700;
    color: black;
    letter-spacing:14px;
    
    
}

.home p{
    color: black;
    font-size: 16px;
    position: relative;
    animation-delay: 0.5s;
    
}
.home .input-group{
    width: 40%;
    height: 45px;
   
   
}
.ex-more{
    color: black;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid;
    
   

}
.ex-more:hover{
    background-color: rgb(56, 95, 82);
    color: white;
}
.home.ex-more.anime{
    animation-delay: 1s; 
}
.ani{
    animation-delay: 1.5s;
}

.anime{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.anime.anime-btn{
   
    animation-delay: 1s;
    
}


/* about us */

#About{
    background-color: rgb(220, 220, 220);             
}
#About h1{
    font-weight: 800;
    font-size: 50px;
    color: black;
}
#About p{
    color: black;
    font-size: 17px;
}