@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');



.navbar{
    background-color: rgb(119, 177, 158);
}
.login-button{
    background-color: rgb(119, 177, 158);
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 1s ;
    border:2px solid
}
.login-button:hover{
    background-color: rgb(65, 118, 100);
    color: white;
} 
.navbar-toggler{
    border: none;
    
}
.navbar-toggler:focus{
    border: none;
    outline: none;
}
.font-book{
    font-family: "Protest Guerrilla", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: relative;
    top: 7px;
   
}

.container-fluid .logo{
    height: 40px;
    width: 40px;
}
.list-item{
    border-radius: 50%;
}
.list  {
    color: black;
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid;
    border: none;
}

.list  :hover{
   background-color: rgb(96, 124, 104); 
   transition: 1s;
   border: 2px solid black ;
}