.reset{
    background-color: #4f7c82;
    height: 100%;
    padding: 40px;
}
.reset-con{
    background-color: #4f7c82;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 6px 6px 10px rgb(87, 114, 117);
    border-radius: 30px;
    color: black;
}
.reset-password{
    height: 50px;
    padding: 10px;
    border-radius: 80px;
    font-size: large;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: #4f7c82;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.reset-loginbtn{
    color: black;
    width: 260px;
    border-radius: 30px;
    font-size: x-large;
    font-weight: 800;
    letter-spacing: 2px;
    outline: none;
    border: 2px solid black;
    margin-top: 10px;
    background-color: #4f7c82;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 8px;
}
.reset-form{
    display: grid;
    justify-content: center !important;
    gap: 5px;
}
.reset-h1{
    letter-spacing: 2px;
    font-weight:800 ;
}