
.staff-main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}   
.staff-row{
    box-shadow: solid 2px;
    width:100%;
    height:100%;
    object-fit:cover;
    padding: 0;
    background-color: aqua;
}

/* login content */

.staff-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.staff-login{
   align-items: center;
}
.sl-header{
    margin-bottom: 10px;
}
  
.sl-email{

    height: 50px;
    max-width: 50%;
    padding: 10px;
    border-radius: 60px;
    font-size: large;
    font-weight: 500;
    outline: none;
    border: none;
}

.sl-email:hover{
    border: none;
    outline: none;
}
.sl-password{

    height: 50px;
    max-width: 50%;
    padding: 10px;
    border-radius: 60px;
    font-size: large;
    font-weight: 500;
    outline: none;
    border: none;
}

.sl-button{
    background-color: blue;
    max-width: 50%;
    border-radius: 30px;
    font-size: x-large;
    font-weight: 800;
    letter-spacing: 2px;
    outline: none;
    border: none;
}



