.main{
    /* display: flex; */
}
.log{
    background-color: bisque;
    position: relative;
    left: 40%;
    width: 400px;
    /* align-items: center; */
}
#mail{
    padding: 10px 10px;
    border-radius: 30px;
    width: 400px;
}
#pass{
    padding: 10px 10px;
    border-radius: 30px;
    width: 400px;
}
#fpass{
    color: blue;
    
}
